<table>
    <tr style="border-collapse: separate">
        <td><h3 style="padding-right: 20px; padding-left: 40px"><a href=".">Home</a></h3></td>
        <td><h3 style="padding-right: 20px; padding-left: 40px"><a href="notes">Notes</a></h3></td>
        <td><h3 style="padding-right: 20px; padding-left: 40px"><a href="createtask">Create Task</a></h3></td>
        <td><h3 style="padding-right: 20px; padding-left: 30px"><a href="project">Data Structures Project</a></h3></td>
    </tr>
    <tr style="border-collapse: separate">
        <td><h3 style="padding-right: 20px; padding-left: 40px"><a href="pbl">PBL FINAL</a></h3></td>\
    </tr>
</table>
<hr>
